{:A_ANEST
 ;; preserves field order as read from dbf
 [[:PAT_NR :CHARACTER]
  [:P_ZEIT :CHARACTER]
  [:P_DATUM :CHARACTER]
  [:LEN :CHARACTER]
  [:ERROR :CHARACTER]
  [:ID :NUMERIC]
  [:ED :NUMERIC]
  [:NIS :NUMERIC]
  [:ES :NUMERIC]
  [:IA :NUMERIC]
  [:EA :NUMERIC]
  [:IH :NUMERIC]
  [:EH :NUMERIC]
  [:IE :NUMERIC]
  [:EE :NUMERIC]
  [:II :NUMERIC]
  [:EI :NUMERIC]
  [:NIN :NUMERIC]
  [:EN :NUMERIC]
  [:BP :NUMERIC]
  [:MBP :NUMERIC]
  [:PP :NUMERIC]
  [:PPBP :NUMERIC]
  [:PKBP :NUMERIC]
  [:TV :NUMERIC]
  [:RMV :NUMERIC]
  [:AL :NUMERIC]
  [:AT :NUMERIC]
  [:ICO2 :NUMERIC]
  [:ETCO2 :NUMERIC]
  [:RRV :NUMERIC]
  [:RRCO2 :NUMERIC]
  [:RRP :NUMERIC]
  [:DATE_TIME :TIMESTAMP]
  [:PRIM_KEY :CHARACTER]
  [:CINSERT :CHARACTER]
  [:TINSERT :TIMESTAMP]],
 :A_BLUT
 [[:B_NUMMER :LONG]
  [:B_ZEIT :CHARACTER]
  [:B_HAEMGLOB :NUMERIC]
  [:B_HAEMATO :NUMERIC]
  [:B_THROMB :NUMERIC]
  [:B_ERYTHRO :NUMERIC]
  [:B_LEUKO :NUMERIC]
  [:B_NATRIUM :NUMERIC]
  [:B_KALIUM :NUMERIC]
  [:B_KALZIUM :NUMERIC]
  [:B_GLUKOSE :NUMERIC]
  [:B_PLA_HB :NUMERIC]
  [:B_COD :NUMERIC]
  [:B_ACT :NUMERIC]
  [:B_ART_TEMP :NUMERIC]
  [:B_ART_PH :NUMERIC]
  [:B_ART_SO2 :NUMERIC]
  [:B_ART_PO2 :NUMERIC]
  [:B_ART_PCO2 :NUMERIC]
  [:B_ARTSTBIC :NUMERIC]
  [:B_ART_BE :NUMERIC]
  [:B_VEN_TEMP :NUMERIC]
  [:B_VEN_PH :NUMERIC]
  [:B_VEN_SO2 :NUMERIC]
  [:B_VEN_PO2 :NUMERIC]
  [:B_VEN_PCO2 :NUMERIC]
  [:B_VENSTBIC :NUMERIC]
  [:B_VEN_BE :NUMERIC]
  [:PAT_NR :CHARACTER]
  [:B_DATUM :CHARACTER]
  [:DATE_TIME :TIMESTAMP]
  [:PRIM_KEY :CHARACTER]
  [:SAMPL_TYPE :CHARACTER]
  [:COD :NUMERIC]
  [:CINSERT :CHARACTER]
  [:TINSERT :TIMESTAMP]],
 :A_CHECK
 [[:PAT_NR :CHARACTER]
  [:BEZEICH :CHARACTER]
  [:LHEADER :LOGICAL]
  [:PRIM_KEY :CHARACTER]
  [:LCHECK :LOGICAL]
  [:NSTATUS :NUMERIC]
  [:NPOS :NUMERIC]
  [:NGROUP :NUMERIC]
  [:TDATETIME :TIMESTAMP]
  [:CTEXT :CHARACTER]
  [:CINSERT :CHARACTER]
  [:TINSERT :TIMESTAMP]],
 :A_CPL
 [[:PAT_NR :CHARACTER]
  [:NR :NUMERIC]
  [:CDIST :CHARACTER]
  [:CTYPE :CHARACTER]
  [:START :TIMESTAMP]
  [:STOP :TIMESTAMP]
  [:QTY :NUMERIC]
  [:DURATION :CHARACTER]
  [:CPAUSE :CHARACTER]
  [:NTEMP :NUMERIC]
  [:PRES1 :NUMERIC]
  [:PRES2 :NUMERIC]
  [:BLOOD :NUMERIC]
  [:CPLSOL :NUMERIC]
  [:FLOW :NUMERIC]
  [:CPLINPOP :CHARACTER]
  [:PRIM_KEY :CHARACTER]
  [:CINSERT :CHARACTER]
  [:TINSERT :TIMESTAMP]
  [:NRATIO :NUMERIC]],
 :A_EREIG
 [[:PAT_NR :CHARACTER]
  [:ER_NUMMER :LONG]
  [:ER_MENGEI :NUMERIC]
  [:ER_MENGEO :NUMERIC]
  [:ER_BEZ :CHARACTER]
  [:ER_EINHEIT :CHARACTER]
  [:ER_CRC :LONG]
  [:ER_M_NR :NUMERIC]
  [:ER_TYP :CHARACTER]
  [:DATE_TIME :TIMESTAMP]
  [:PRIM_KEY :CHARACTER]
  [:ER_MENGEE :NUMERIC]
  [:ER_SERIALN :CHARACTER]
  [:ER_MENGE :NUMERIC]
  [:CINSERT :CHARACTER]
  [:TINSERT :TIMESTAMP]],
 :A_FREE
 [[:PAT_NR :CHARACTER]
  [:PRIM_KEY :CHARACTER]
  [:DATE_TIME :TIMESTAMP]
  [:CINSERT :CHARACTER]
  [:TINSERT :TIMESTAMP]
  [:C50_1 :CHARACTER]
  [:C50_2 :CHARACTER]
  [:C50_3 :CHARACTER]
  [:C50_4 :CHARACTER]
  [:C50_5 :CHARACTER]
  [:C50_6 :CHARACTER]
  [:C50_7 :CHARACTER]
  [:C50_8 :CHARACTER]
  [:C50_9 :CHARACTER]
  [:C50_10 :CHARACTER]
  [:C50_11 :CHARACTER]
  [:C50_12 :CHARACTER]
  [:C50_13 :CHARACTER]
  [:C50_14 :CHARACTER]
  [:C50_15 :CHARACTER]
  [:C50_16 :CHARACTER]
  [:C50_17 :CHARACTER]
  [:C50_18 :CHARACTER]
  [:C50_19 :CHARACTER]
  [:C50_20 :CHARACTER]
  [:N5_1 :NUMERIC]
  [:N5_2 :NUMERIC]
  [:N5_3 :NUMERIC]
  [:N5_4 :NUMERIC]
  [:N5_5 :NUMERIC]
  [:N5_6 :NUMERIC]
  [:N5_7 :NUMERIC]
  [:N5_8 :NUMERIC]
  [:N5_9 :NUMERIC]
  [:N5_10 :NUMERIC]
  [:N5_11 :NUMERIC]
  [:N5_12 :NUMERIC]
  [:N5_13 :NUMERIC]
  [:N5_14 :NUMERIC]
  [:N5_15 :NUMERIC]
  [:N5_16 :NUMERIC]
  [:N5_17 :NUMERIC]
  [:N5_18 :NUMERIC]
  [:N5_19 :NUMERIC]
  [:N5_20 :NUMERIC]
  [:N10_1 :NUMERIC]
  [:N10_2 :NUMERIC]
  [:N10_3 :NUMERIC]
  [:N10_4 :NUMERIC]
  [:N10_5 :NUMERIC]
  [:N10_6 :NUMERIC]
  [:N10_7 :NUMERIC]
  [:N10_8 :NUMERIC]
  [:N10_9 :NUMERIC]
  [:N10_10 :NUMERIC]
  [:N10_11 :NUMERIC]
  [:N10_12 :NUMERIC]
  [:N10_13 :NUMERIC]
  [:N10_14 :NUMERIC]
  [:N10_15 :NUMERIC]
  [:N10_16 :NUMERIC]
  [:N10_17 :NUMERIC]
  [:N10_18 :NUMERIC]
  [:N10_19 :NUMERIC]
  [:N10_20 :NUMERIC]
  [:N10_1_1 :NUMERIC]
  [:N10_1_2 :NUMERIC]
  [:N10_1_3 :NUMERIC]
  [:N10_1_4 :NUMERIC]
  [:N10_1_5 :NUMERIC]
  [:N10_1_6 :NUMERIC]
  [:N10_1_7 :NUMERIC]
  [:N10_1_8 :NUMERIC]
  [:N10_1_9 :NUMERIC]
  [:N10_1_10 :NUMERIC]
  [:N10_1_11 :NUMERIC]
  [:N10_1_12 :NUMERIC]
  [:N10_1_13 :NUMERIC]
  [:N10_1_14 :NUMERIC]
  [:N10_1_15 :NUMERIC]
  [:N10_1_16 :NUMERIC]
  [:N10_1_17 :NUMERIC]
  [:N10_1_18 :NUMERIC]
  [:N10_1_19 :NUMERIC]
  [:N10_1_20 :NUMERIC]
  [:N10_2_1 :NUMERIC]
  [:N10_2_2 :NUMERIC]
  [:N10_2_3 :NUMERIC]
  [:N10_2_4 :NUMERIC]
  [:N10_2_5 :NUMERIC]
  [:N10_2_6 :NUMERIC]
  [:N10_2_7 :NUMERIC]
  [:N10_2_8 :NUMERIC]
  [:N10_2_9 :NUMERIC]
  [:N10_2_10 :NUMERIC]
  [:N10_2_11 :NUMERIC]
  [:N10_2_12 :NUMERIC]
  [:N10_2_13 :NUMERIC]
  [:N10_2_14 :NUMERIC]
  [:N10_2_15 :NUMERIC]
  [:N10_2_16 :NUMERIC]
  [:N10_2_17 :NUMERIC]
  [:N10_2_18 :NUMERIC]
  [:N10_2_19 :NUMERIC]
  [:N10_2_20 :NUMERIC]
  [:N10_3_1 :NUMERIC]
  [:N10_3_2 :NUMERIC]
  [:N10_3_3 :NUMERIC]
  [:N10_3_4 :NUMERIC]
  [:N10_3_5 :NUMERIC]
  [:N10_3_6 :NUMERIC]
  [:N10_3_7 :NUMERIC]
  [:N10_3_8 :NUMERIC]
  [:N10_3_9 :NUMERIC]
  [:N10_3_10 :NUMERIC]
  [:N10_3_11 :NUMERIC]
  [:N10_3_12 :NUMERIC]
  [:N10_3_13 :NUMERIC]
  [:N10_3_14 :NUMERIC]
  [:N10_3_15 :NUMERIC]
  [:N10_3_16 :NUMERIC]
  [:N10_3_17 :NUMERIC]
  [:N10_3_18 :NUMERIC]
  [:N10_3_19 :NUMERIC]
  [:N10_3_20 :NUMERIC]
  [:N10_4_1 :NUMERIC]
  [:N10_4_2 :NUMERIC]
  [:N10_4_3 :NUMERIC]
  [:N10_4_4 :NUMERIC]
  [:N10_4_5 :NUMERIC]
  [:N10_4_6 :NUMERIC]
  [:N10_4_7 :NUMERIC]
  [:N10_4_8 :NUMERIC]
  [:N10_4_9 :NUMERIC]
  [:N10_4_10 :NUMERIC]
  [:N10_4_11 :NUMERIC]
  [:N10_4_12 :NUMERIC]
  [:N10_4_13 :NUMERIC]
  [:N10_4_14 :NUMERIC]
  [:N10_4_15 :NUMERIC]
  [:N10_4_16 :NUMERIC]
  [:N10_4_17 :NUMERIC]
  [:N10_4_18 :NUMERIC]
  [:N10_4_19 :NUMERIC]
  [:N10_4_20 :NUMERIC]
  [:L_1 :LOGICAL]
  [:L_2 :LOGICAL]
  [:L_3 :LOGICAL]
  [:L_4 :LOGICAL]
  [:L_5 :LOGICAL]
  [:L_6 :LOGICAL]
  [:L_7 :LOGICAL]
  [:L_8 :LOGICAL]
  [:L_9 :LOGICAL]
  [:L_10 :LOGICAL]
  [:L_11 :LOGICAL]
  [:L_12 :LOGICAL]
  [:L_13 :LOGICAL]
  [:L_14 :LOGICAL]
  [:L_15 :LOGICAL]
  [:L_16 :LOGICAL]
  [:L_17 :LOGICAL]
  [:L_18 :LOGICAL]
  [:L_19 :LOGICAL]
  [:L_20 :LOGICAL]
  [:D_1 :DATE]
  [:D_2 :DATE]
  [:D_3 :DATE]
  [:D_4 :DATE]
  [:D_5 :DATE]
  [:D_6 :DATE]
  [:D_7 :DATE]
  [:D_8 :DATE]
  [:D_9 :DATE]
  [:D_10 :DATE]
  [:T_1 :TIMESTAMP]
  [:T_2 :TIMESTAMP]
  [:T_3 :TIMESTAMP]
  [:T_4 :TIMESTAMP]
  [:T_5 :TIMESTAMP]
  [:T_6 :TIMESTAMP]
  [:T_7 :TIMESTAMP]
  [:T_8 :TIMESTAMP]
  [:T_9 :TIMESTAMP]
  [:T_10 :TIMESTAMP]
  [:M_1 :MEMO]],
 :A_GFM
 [[:PAT_NR :CHARACTER]
  [:P_ZEIT :CHARACTER]
  [:P_DATUM :CHARACTER]
  [:LEN :CHARACTER]
  [:ERROR :CHARACTER]
  [:STATUS :CHARACTER]
  [:STATUS_ :CHARACTER]
  [:FLOW :NUMERIC]
  [:FIO2 :NUMERIC]
  [:FICO2 :NUMERIC]
  [:SET_FLOW :NUMERIC]
  [:SET_FIO2 :NUMERIC]
  [:SET_FICO2 :NUMERIC]
  [:DATE_TIME :TIMESTAMP]
  [:PRIM_KEY :CHARACTER]
  [:AIR :NUMERIC]
  [:OXYGEN :NUMERIC]
  [:CINSERT :CHARACTER]
  [:TINSERT :TIMESTAMP]],
 :A_MON
 [[:PAT_NR :CHARACTER]
  [:P_ZEIT :CHARACTER]
  [:P_DATUM :CHARACTER]
  [:LEN :CHARACTER]
  [:ERROR :CHARACTER]
  [:HZV :NUMERIC]
  [:HR :NUMERIC]
  [:ABPM :NUMERIC]
  [:ABPS :NUMERIC]
  [:ABPD :NUMERIC]
  [:LAP :NUMERIC]
  [:ZVD :NUMERIC]
  [:P4M :NUMERIC]
  [:P4S :NUMERIC]
  [:P4D :NUMERIC]
  [:P5M :NUMERIC]
  [:P5S :NUMERIC]
  [:P5D :NUMERIC]
  [:P6M :NUMERIC]
  [:P6S :NUMERIC]
  [:P6D :NUMERIC]
  [:P7M :NUMERIC]
  [:P7S :NUMERIC]
  [:P7D :NUMERIC]
  [:P8M :NUMERIC]
  [:P8S :NUMERIC]
  [:P8D :NUMERIC]
  [:BLOODT :NUMERIC]
  [:OEST :NUMERIC]
  [:REKT :NUMERIC]
  [:T4 :NUMERIC]
  [:T5 :NUMERIC]
  [:T6 :NUMERIC]
  [:ST1 :NUMERIC]
  [:ST2 :NUMERIC]
  [:DATE_TIME :TIMESTAMP]
  [:PRIM_KEY :CHARACTER]
  [:T1 :NUMERIC]
  [:T2 :NUMERIC]
  [:T3 :NUMERIC]
  [:PAPD :NUMERIC]
  [:PAPM :NUMERIC]
  [:PAPS :NUMERIC]
  [:SO2 :NUMERIC]
  [:SPO2 :NUMERIC]
  [:P1M :NUMERIC]
  [:P1S :NUMERIC]
  [:P1D :NUMERIC]
  [:P2M :NUMERIC]
  [:P2S :NUMERIC]
  [:P2D :NUMERIC]
  [:P3M :NUMERIC]
  [:P3S :NUMERIC]
  [:P3D :NUMERIC]
  [:EXCO2 :NUMERIC]
  [:INO2 :NUMERIC]
  [:CINSERT :CHARACTER]
  [:TINSERT :TIMESTAMP]
  [:SVR :NUMERIC]],
 :A_OFFBGA
 [[:PAT_NR :CHARACTER]
  [:P_ZEIT :CHARACTER]
  [:P_DATUM :CHARACTER]
  [:LEN :CHARACTER]
  [:ERROR :CHARACTER]
  [:STATUS :CHARACTER]
  [:HOUR :CHARACTER]
  [:MINUTE :CHARACTER]
  [:AADPO2 :NUMERIC]
  [:AADPO2T :NUMERIC]
  [:ABE :NUMERIC]
  [:AAPO2 :NUMERIC]
  [:AAPO2T :NUMERIC]
  [:ANK :NUMERIC]
  [:AN :NUMERIC]
  [:B :NUMERIC]
  [:CA :NUMERIC]
  [:CA7 :NUMERIC]
  [:CL :NUMERIC]
  [:COHB :NUMERIC]
  [:CO2 :NUMERIC]
  [:CX :NUMERIC]
  [:DO2 :NUMERIC]
  [:FIO2 :NUMERIC]
  [:HBF :NUMERIC]
  [:HCO3 :NUMERIC]
  [:HCT :NUMERIC]
  [:K :NUMERIC]
  [:MET :NUMERIC]
  [:NA :NUMERIC]
  [:O2 :NUMERIC]
  [:O2CAP :NUMERIC]
  [:O2HB :NUMERIC]
  [:PCO2 :NUMERIC]
  [:PCO2T :NUMERIC]
  [:PH :NUMERIC]
  [:PHST :NUMERIC]
  [:PHT :NUMERIC]
  [:PO2 :NUMERIC]
  [:PO2A :NUMERIC]
  [:PO2AT :NUMERIC]
  [:PO2T :NUMERIC]
  [:PX :NUMERIC]
  [:P50A :NUMERIC]
  [:P50AT :NUMERIC]
  [:P50ST :NUMERIC]
  [:QT :NUMERIC]
  [:QX :NUMERIC]
  [:RHB :NUMERIC]
  [:RI :NUMERIC]
  [:RIT :NUMERIC]
  [:RQ :NUMERIC]
  [:SBC :NUMERIC]
  [:SBE :NUMERIC]
  [:SH :NUMERIC]
  [:SHT :NUMERIC]
  [:SO2 :NUMERIC]
  [:T :NUMERIC]
  [:TCO2B :NUMERIC]
  [:TCO2P :NUMERIC]
  [:THB :NUMERIC]
  [:TO2 :NUMERIC]
  [:GLU :NUMERIC]
  [:LAC :NUMERIC]
  [:VO2 :NUMERIC]
  [:DATE_TIME :TIMESTAMP]
  [:PRIM_KEY :CHARACTER]
  [:SAMPL_TYPE :CHARACTER]
  [:PH_EQUIVAL :NUMERIC]
  [:CINSERT :CHARACTER]
  [:TINSERT :TIMESTAMP]],
 :A_ONBG2
 [[:PAT_NR :CHARACTER]
  [:P_ZEIT :CHARACTER]
  [:P_DATUM :CHARACTER]
  [:RECLEN :CHARACTER]
  [:ERRORCODE :CHARACTER]
  [:APH :NUMERIC]
  [:VPH :NUMERIC]
  [:APO2 :NUMERIC]
  [:VPO2 :NUMERIC]
  [:APCO2 :NUMERIC]
  [:VPCO2 :NUMERIC]
  [:AT :NUMERIC]
  [:VT :NUMERIC]
  [:ASO2 :NUMERIC]
  [:VSO2 :NUMERIC]
  [:HCO3 :NUMERIC]
  [:BE :NUMERIC]
  [:HCT :NUMERIC]
  [:HB :NUMERIC]
  [:DATE_TIME :TIMESTAMP]
  [:PRIM_KEY :CHARACTER]
  [:K :NUMERIC]
  [:Q :NUMERIC]
  [:VO2 :NUMERIC]
  [:CINSERT :CHARACTER]
  [:TINSERT :TIMESTAMP]],
 :A_ONBGA
 [[:PAT_NR :CHARACTER]
  [:P_ZEIT :CHARACTER]
  [:P_DATUM :CHARACTER]
  [:LEN :CHARACTER]
  [:ERROR :CHARACTER]
  [:APH :NUMERIC]
  [:VPH :NUMERIC]
  [:APO2 :NUMERIC]
  [:VPO2 :NUMERIC]
  [:APCO2 :NUMERIC]
  [:VPCO2 :NUMERIC]
  [:AT :NUMERIC]
  [:VT :NUMERIC]
  [:ASO2 :NUMERIC]
  [:VSO2 :NUMERIC]
  [:HCO3 :NUMERIC]
  [:BE :NUMERIC]
  [:HCT :NUMERIC]
  [:HB :NUMERIC]
  [:DATE_TIME :TIMESTAMP]
  [:PRIM_KEY :CHARACTER]
  [:K :NUMERIC]
  [:Q :NUMERIC]
  [:VO2 :NUMERIC]
  [:CINSERT :CHARACTER]
  [:TINSERT :TIMESTAMP]],
 :A_OTHER1
 [[:PAT_NR :CHARACTER]
  [:N10_1 :LONG]
  [:N10_2 :LONG]
  [:N10_3 :LONG]
  [:N10_4 :LONG]
  [:N10_5 :LONG]
  [:N10_6 :LONG]
  [:N10_7 :LONG]
  [:N10_8 :LONG]
  [:N10_9 :LONG]
  [:N10_10 :LONG]
  [:N10D1_1 :NUMERIC]
  [:N10D1_2 :NUMERIC]
  [:N10D1_3 :NUMERIC]
  [:N10D1_4 :NUMERIC]
  [:N10D1_5 :NUMERIC]
  [:N10D2_1 :NUMERIC]
  [:N10D2_2 :NUMERIC]
  [:N10D2_3 :NUMERIC]
  [:N10D2_4 :NUMERIC]
  [:N10D2_5 :NUMERIC]
  [:N10D3_1 :NUMERIC]
  [:N10D3_2 :NUMERIC]
  [:N10D3_3 :NUMERIC]
  [:N10D3_4 :NUMERIC]
  [:N10D3_5 :NUMERIC]
  [:T8_1 :TIMESTAMP]
  [:T8_2 :TIMESTAMP]
  [:C20_1 :CHARACTER]
  [:C20_2 :CHARACTER]
  [:C20_3 :CHARACTER]
  [:C20_4 :CHARACTER]
  [:C20_5 :CHARACTER]
  [:C50_1 :CHARACTER]
  [:C50_2 :CHARACTER]
  [:DATE_TIME :TIMESTAMP]
  [:PRIM_KEY :CHARACTER]
  [:CINSERT :CHARACTER]
  [:TINSERT :TIMESTAMP]],
 :A_OTHER2
 [[:PAT_NR :CHARACTER]
  [:N10_1 :LONG]
  [:N10_2 :LONG]
  [:N10_3 :LONG]
  [:N10_4 :LONG]
  [:N10_5 :LONG]
  [:N10_6 :LONG]
  [:N10_7 :LONG]
  [:N10_8 :LONG]
  [:N10_9 :LONG]
  [:N10_10 :LONG]
  [:N10D1_1 :NUMERIC]
  [:N10D1_2 :NUMERIC]
  [:N10D1_3 :NUMERIC]
  [:N10D1_4 :NUMERIC]
  [:N10D1_5 :NUMERIC]
  [:N10D2_1 :NUMERIC]
  [:N10D2_2 :NUMERIC]
  [:N10D2_3 :NUMERIC]
  [:N10D2_4 :NUMERIC]
  [:N10D2_5 :NUMERIC]
  [:N10D3_1 :NUMERIC]
  [:N10D3_2 :NUMERIC]
  [:N10D3_3 :NUMERIC]
  [:N10D3_4 :NUMERIC]
  [:N10D3_5 :NUMERIC]
  [:T8_1 :TIMESTAMP]
  [:T8_2 :TIMESTAMP]
  [:C20_1 :CHARACTER]
  [:C20_2 :CHARACTER]
  [:C20_3 :CHARACTER]
  [:C20_4 :CHARACTER]
  [:C20_5 :CHARACTER]
  [:C50_1 :CHARACTER]
  [:C50_2 :CHARACTER]
  [:DATE_TIME :TIMESTAMP]
  [:PRIM_KEY :CHARACTER]
  [:CINSERT :CHARACTER]
  [:TINSERT :TIMESTAMP]],
 :A_PAT
 [[:VORNAME :CHARACTER]
  [:NACHNAME :CHARACTER]
  [:GEB_DAT :DATE]
  [:NALTER :NUMERIC]
  [:OP_DATUM :DATE]
  [:PAT_NR :CHARACTER]
  [:FALLNR :CHARACTER]
  [:GESCHLECHT :NUMERIC]
  [:RISIKO :CHARACTER]
  [:BLUTGRUPPE :CHARACTER]
  [:GROESSE :NUMERIC]
  [:GEWICHT :NUMERIC]
  [:FAKTOR :NUMERIC]
  [:KOF :NUMERIC]
  [:HZV :NUMERIC]
  [:DIAGNOSE_1 :CHARACTER]
  [:DIAGNOSE_2 :CHARACTER]
  [:DIAGNOSE_3 :CHARACTER]
  [:DIAGNOSE_4 :CHARACTER]
  [:DIAGNOSE_5 :CHARACTER]
  [:DIAGNOSE_6 :CHARACTER]
  [:OP_ART_1 :CHARACTER]
  [:OP_ART_2 :CHARACTER]
  [:OP_ART_3 :CHARACTER]
  [:OP_ART_4 :CHARACTER]
  [:OP_ART_5 :CHARACTER]
  [:OP_ART_6 :CHARACTER]
  [:PRIM_NR :LONG]
  [:LPRIBAL :LOGICAL]
  [:PRIM_TXT1 :CHARACTER]
  [:PRIM_TXT2 :CHARACTER]
  [:PRIM_TXT3 :CHARACTER]
  [:PRIM_TXT4 :CHARACTER]
  [:PRIM_TXT5 :CHARACTER]
  [:PRIM_TXT6 :CHARACTER]
  [:PRIM_TXT7 :CHARACTER]
  [:PRIM_TXT8 :CHARACTER]
  [:PRIM_TXT9 :CHARACTER]
  [:PRIM_TXT10 :CHARACTER]
  [:P_MENGE1 :NUMERIC]
  [:P_MENGE2 :NUMERIC]
  [:P_MENGE3 :NUMERIC]
  [:P_MENGE4 :NUMERIC]
  [:P_MENGE5 :NUMERIC]
  [:P_MENGE6 :NUMERIC]
  [:P_MENGE7 :NUMERIC]
  [:P_MENGE8 :NUMERIC]
  [:P_MENGE9 :NUMERIC]
  [:P_MENGE10 :NUMERIC]
  [:PRIM_SUMME :NUMERIC]
  [:KARD_ART :CHARACTER]
  [:KARD_VERT :CHARACTER]
  [:KARD_MENGE :NUMERIC]
  [:KARD_ZEIT1 :NUMERIC]
  [:KARD_STILL :NUMERIC]
  [:KARD_NACHG :NUMERIC]
  [:KARD_ZEIT2 :NUMERIC]
  [:HLM_TXT :CHARACTER]
  [:HLM_NR :CHARACTER]
  [:HLMA_BEZ :CHARACTER]
  [:OXYGEN_TXT :CHARACTER]
  [:OXYGEN_NR :CHARACTER]
  [:SCHL_TXT :CHARACTER]
  [:SCHL_NR :CHARACTER]
  [:ARTFILTEXT :CHARACTER]
  [:ARTFILTNR :CHARACTER]
  [:VENRES_TXT :CHARACTER]
  [:VENRES_NR :CHARACTER]
  [:K_RES_TXT :CHARACTER]
  [:K_RES_NR :CHARACTER]
  [:HAEMO_TXT :CHARACTER]
  [:HAEMO_NR :CHARACTER]
  [:CELL_TXT :CHARACTER]
  [:CELL_NR :CHARACTER]
  [:ARTKAN_TXT :CHARACTER]
  [:ARTKAN_NR :CHARACTER]
  [:ARTKA2_TXT :CHARACTER]
  [:ARTKA2_NR :CHARACTER]
  [:VENKAN_TXT :CHARACTER]
  [:VENKAN_NR :CHARACTER]
  [:VENKA2_TXT :CHARACTER]
  [:VENKA2_NR :CHARACTER]
  [:VENKA3_TXT :CHARACTER]
  [:VENKA3_NR :CHARACTER]
  [:CPLDEV_TXT :CHARACTER]
  [:CPLDEV_NR :CHARACTER]
  [:SONST1_TXT :CHARACTER]
  [:SONST1_NR :CHARACTER]
  [:SONST2_TXT :CHARACTER]
  [:SONST2_NR :CHARACTER]
  [:SONST3_TXT :CHARACTER]
  [:SONST3_NR :CHARACTER]
  [:SONST4_TXT :CHARACTER]
  [:SONST4_NR :CHARACTER]
  [:MEMO_EQUIP :MEMO]
  [:OPERATEUR :CHARACTER]
  [:ASSISTENT1 :CHARACTER]
  [:ASSISTENT2 :CHARACTER]
  [:ASSISTENT3 :CHARACTER]
  [:KARDIOT1 :CHARACTER]
  [:KARDIOT2 :CHARACTER]
  [:ANAESTH1 :CHARACTER]
  [:ANAESTH2 :CHARACTER]
  [:INSTRUMENT :CHARACTER]
  [:PFLEGER :CHARACTER]
  [:SPRINGER :CHARACTER]
  [:MEMO_PERSO :MEMO]
  [:THORAX_ER :CHARACTER]
  [:THORAX_VER :CHARACTER]
  [:VENEN_ENT :CHARACTER]
  [:IMA_PRAEP :CHARACTER]
  [:KANUELIER :CHARACTER]
  [:PO_KINDOP :LOGICAL]
  [:PO_NOTOP :LOGICAL]
  [:PO_REOP :LOGICAL]
  [:PO_HAEMO :LOGICAL]
  [:PO_CELLSAV :LOGICAL]
  [:PO_EXITUS :LOGICAL]
  [:PO_KAELT :LOGICAL]
  [:PO_KATECHO :LOGICAL]
  [:PO_ASIST :LOGICAL]
  [:PO_ZENTRIF :LOGICAL]
  [:PO_ISCHAEM :LONG]
  [:PO_PERF :LONG]
  [:PO_REPERF :LONG]
  [:PO_KREISL :LONG]
  [:PO_TIMER5 :LONG]
  [:PO_TIMER6 :LONG]
  [:PO_TIMER7 :LONG]
  [:PO_REKTEMP :NUMERIC]
  [:PO_DEFI :NUMERIC]
  [:PO_PUL_SNR :CHARACTER]
  [:PO_PUL_D :NUMERIC]
  [:PO_PUL_MOD :CHARACTER]
  [:PO_PUL_HER :CHARACTER]
  [:PO_PUL_TYP :CHARACTER]
  [:PO_TRI_SNR :CHARACTER]
  [:PO_TRI_D :NUMERIC]
  [:PO_TRI_MOD :CHARACTER]
  [:PO_TRI_HER :CHARACTER]
  [:PO_TRI_TYP :CHARACTER]
  [:PO_MI_SNR :CHARACTER]
  [:PO_MI_D :NUMERIC]
  [:PO_MI_MOD :CHARACTER]
  [:PO_MI_HER :CHARACTER]
  [:PO_MI_TYP :CHARACTER]
  [:PO_AO_SNR :CHARACTER]
  [:PO_AO_D :NUMERIC]
  [:PO_AO_MOD :CHARACTER]
  [:PO_AO_HER :CHARACTER]
  [:PO_AO_TYP :CHARACTER]
  [:MEMO_IMPLA :MEMO]
  [:PO_BEMERK :MEMO]
  [:PO_RESTVOL :NUMERIC]
  [:MAPPING :LOGICAL]
  [:PULSATIL :LOGICAL]
  [:PRIM_BEZ :CHARACTER]
  [:CHECK_USER :CHARACTER]
  [:CHECK_PASS :CHARACTER]
  [:PO_INPUT :NUMERIC]
  [:PO_OUTPUT :NUMERIC]
  [:PAT_ID :CHARACTER]
  [:PRE_BEMERK :MEMO]
  [:LAB_DATUM :DATE]
  [:HB :NUMERIC]
  [:HT :NUMERIC]
  [:UREA :NUMERIC]
  [:CREA :NUMERIC]
  [:ROOM :CHARACTER]
  [:RISKFACT :MEMO]
  [:MEDICATION :MEMO]
  [:PR_LV :CHARACTER]
  [:PR_LA :CHARACTER]
  [:PR_PAP :CHARACTER]
  [:PR_AO :CHARACTER]
  [:PR_RV :CHARACTER]
  [:PR_RA :CHARACTER]
  [:PR_WEDGE :CHARACTER]
  [:SAT_VCI :NUMERIC]
  [:SAT_LV :NUMERIC]
  [:SAT_LA :NUMERIC]
  [:SAT_VCS :NUMERIC]
  [:SAT_AO :NUMERIC]
  [:SAT_RA :NUMERIC]
  [:EF :NUMERIC]
  [:PO_PACE :LOGICAL]
  [:PO_OTHERS :LOGICAL]
  [:OTHER_NOTE :CHARACTER]
  [:AVGFLOW :NUMERIC]
  [:TAKE_OVER :CHARACTER]
  [:PO_OPNOTE :MEMO]
  [:TROMBOS :NUMERIC]
  [:PRIM_TXT11 :CHARACTER]
  [:PRIM_TXT12 :CHARACTER]
  [:P_MENGE11 :NUMERIC]
  [:P_MENGE12 :NUMERIC]
  [:PO_VASOPRE :LOGICAL]
  [:PO_VASODIL :LOGICAL]
  [:PO_INTRO :LOGICAL]
  [:PO_DIUR :LOGICAL]
  [:PO_PRES :NUMERIC]
  [:PO_BLOODL :NUMERIC]
  [:PO_HLMBL :NUMERIC]
  [:ASSIS_ART :MEMO]
  [:PO_HEP_BEF :LONG]
  [:PO_PRO_AFT :LONG]
  [:PO_ACT :NUMERIC]
  [:PRIM_KEY :CHARACTER]
  [:P_UNIT1 :CHARACTER]
  [:P_UNIT2 :CHARACTER]
  [:P_UNIT3 :CHARACTER]
  [:P_UNIT4 :CHARACTER]
  [:P_UNIT5 :CHARACTER]
  [:P_UNIT6 :CHARACTER]
  [:P_UNIT7 :CHARACTER]
  [:P_UNIT8 :CHARACTER]
  [:P_UNIT9 :CHARACTER]
  [:P_UNIT10 :CHARACTER]
  [:P_UNIT11 :CHARACTER]
  [:P_UNIT12 :CHARACTER]
  [:PO_BALANCE :NUMERIC]
  [:AGEMONTHS :NUMERIC]
  [:AGEDAYS :NUMERIC]
  [:ALLERGIES :MEMO]
  [:CPLINPOP :CHARACTER]
  [:CPLMAXPAUS :NUMERIC]
  [:CPLCOUNT :NUMERIC]
  [:CPLSUMDUR :CHARACTER]
  [:CPLSUMPAUS :CHARACTER]
  [:CPLAVGTEMP :NUMERIC]
  [:CPLAVGPRS1 :NUMERIC]
  [:CPLAVGPRS2 :NUMERIC]
  [:CPLSUMBLD :NUMERIC]
  [:CPLSUMCPLS :NUMERIC]
  [:CPLSUMQTY :NUMERIC]
  [:CPLAVGFLOW :NUMERIC]
  [:LDEMO :LOGICAL]
  [:CCONFIG :MEMO]
  [:NCHECKLIST :NUMERIC]
  [:CINSERT :CHARACTER]
  [:TINSERT :TIMESTAMP]],
 :A_PATEVE
 [[:PAT_NR :CHARACTER]
  [:EV_BEZ :CHARACTER]
  [:EV_TXT1 :CHARACTER]
  [:EV_TXT2 :CHARACTER]
  [:EV_TXT3 :CHARACTER]
  [:EV_TXT4 :CHARACTER]
  [:EV_TXT5 :CHARACTER]
  [:EV_TXT6 :CHARACTER]
  [:EV_TXT7 :CHARACTER]
  [:EV_TXT8 :CHARACTER]
  [:EV_TXT9 :CHARACTER]
  [:EV_TXT10 :CHARACTER]
  [:EV_TXT11 :CHARACTER]
  [:EV_TXT12 :CHARACTER]
  [:EV_TXT13 :CHARACTER]
  [:EV_TXT14 :CHARACTER]
  [:EV_TXT15 :CHARACTER]
  [:EV_TXT16 :CHARACTER]
  [:EV_TXT17 :CHARACTER]
  [:EV_TXT18 :CHARACTER]
  [:EV_TXT19 :CHARACTER]
  [:EV_TXT20 :CHARACTER]
  [:EV_TXT21 :CHARACTER]
  [:EV_TXT22 :CHARACTER]
  [:EV_TXT23 :CHARACTER]
  [:EV_TXT24 :CHARACTER]
  [:EV_EINH1 :CHARACTER]
  [:EV_EINH2 :CHARACTER]
  [:EV_EINH3 :CHARACTER]
  [:EV_EINH4 :CHARACTER]
  [:EV_EINH5 :CHARACTER]
  [:EV_EINH6 :CHARACTER]
  [:EV_EINH7 :CHARACTER]
  [:EV_EINH8 :CHARACTER]
  [:EV_EINH9 :CHARACTER]
  [:EV_EINH10 :CHARACTER]
  [:EV_EINH11 :CHARACTER]
  [:EV_EINH12 :CHARACTER]
  [:EV_EINH13 :CHARACTER]
  [:EV_EINH14 :CHARACTER]
  [:EV_EINH15 :CHARACTER]
  [:EV_EINH16 :CHARACTER]
  [:EV_EINH17 :CHARACTER]
  [:EV_EINH18 :CHARACTER]
  [:EV_EINH19 :CHARACTER]
  [:EV_EINH20 :CHARACTER]
  [:EV_EINH21 :CHARACTER]
  [:EV_EINH22 :CHARACTER]
  [:EV_EINH23 :CHARACTER]
  [:EV_EINH24 :CHARACTER]
  [:EV_MENGE1 :LONG]
  [:EV_MENGE2 :LONG]
  [:EV_MENGE3 :LONG]
  [:EV_MENGE4 :LONG]
  [:EV_MENGE5 :LONG]
  [:EV_MENGE6 :LONG]
  [:EV_MENGE7 :LONG]
  [:EV_MENGE8 :LONG]
  [:EV_MENGE9 :LONG]
  [:EV_MENGE10 :LONG]
  [:EV_MENGE11 :LONG]
  [:EV_MENGE12 :LONG]
  [:EV_MENGE13 :LONG]
  [:EV_MENGE14 :LONG]
  [:EV_MENGE15 :LONG]
  [:EV_MENGE16 :LONG]
  [:EV_MENGE17 :LONG]
  [:EV_MENGE18 :LONG]
  [:EV_MENGE19 :LONG]
  [:EV_MENGE20 :LONG]
  [:EV_MENGE21 :LONG]
  [:EV_MENGE22 :LONG]
  [:EV_MENGE23 :LONG]
  [:EV_MENGE24 :LONG]
  [:EV_IN_OUT1 :CHARACTER]
  [:EV_IN_OUT2 :CHARACTER]
  [:EV_IN_OUT3 :CHARACTER]
  [:EV_IN_OUT4 :CHARACTER]
  [:EV_IN_OUT5 :CHARACTER]
  [:EV_IN_OUT6 :CHARACTER]
  [:EV_IN_OUT7 :CHARACTER]
  [:EV_IN_OUT8 :CHARACTER]
  [:EV_IN_OUT9 :CHARACTER]
  [:EV_IN_OU10 :CHARACTER]
  [:EV_IN_OU11 :CHARACTER]
  [:EV_IN_OU12 :CHARACTER]
  [:EV_IN_OU13 :CHARACTER]
  [:EV_IN_OU14 :CHARACTER]
  [:EV_IN_OU15 :CHARACTER]
  [:EV_IN_OU16 :CHARACTER]
  [:EV_IN_OU17 :CHARACTER]
  [:EV_IN_OU18 :CHARACTER]
  [:EV_IN_OU19 :CHARACTER]
  [:EV_IN_OU20 :CHARACTER]
  [:EV_IN_OU21 :CHARACTER]
  [:EV_IN_OU22 :CHARACTER]
  [:EV_IN_OU23 :CHARACTER]
  [:EV_IN_OU24 :CHARACTER]
  [:PRIM_KEY :CHARACTER]
  [:CINSERT :CHARACTER]
  [:TINSERT :TIMESTAMP]],
 :A_PERF
 [[:PAT_NR :CHARACTER]
  [:P_ZEIT :CHARACTER]
  [:P_DATUM :CHARACTER]
  [:DP1_PRES1 :NUMERIC]
  [:DP1_LIMIT1 :NUMERIC]
  [:DP1_PRES2 :NUMERIC]
  [:DP1_LIMIT2 :NUMERIC]
  [:DP1_DIFF_P :NUMERIC]
  [:DP2_PRES1 :NUMERIC]
  [:DP2_LIMIT1 :NUMERIC]
  [:DP2_PRES2 :NUMERIC]
  [:DP2_LIMIT2 :NUMERIC]
  [:DP2_DIFF_P :NUMERIC]
  [:QT1_TEMP1 :NUMERIC]
  [:QT1_H_LIM1 :NUMERIC]
  [:QT1_L_LIM1 :NUMERIC]
  [:QT1_TEMP2 :NUMERIC]
  [:QT1_H_LIM2 :NUMERIC]
  [:QT1_L_LIM2 :NUMERIC]
  [:QT1_TEMP3 :NUMERIC]
  [:QT1_H_LIM3 :NUMERIC]
  [:QT1_L_LIM3 :NUMERIC]
  [:QT1_TEMP4 :NUMERIC]
  [:QT1_H_LIM4 :NUMERIC]
  [:QT1_L_LIM4 :NUMERIC]
  [:QT2_TEMP1 :NUMERIC]
  [:QT2_H_LIM1 :NUMERIC]
  [:QT2_L_LIM1 :NUMERIC]
  [:QT2_TEMP2 :NUMERIC]
  [:QT2_H_LIM2 :NUMERIC]
  [:QT2_L_LIM2 :NUMERIC]
  [:QT2_TEMP3 :NUMERIC]
  [:QT2_H_LIM3 :NUMERIC]
  [:QT2_L_LIM3 :NUMERIC]
  [:QT2_TEMP4 :NUMERIC]
  [:QT2_H_LIM4 :NUMERIC]
  [:QT2_L_LIM4 :NUMERIC]
  [:AP_START :NUMERIC]
  [:AP_STOP :NUMERIC]
  [:AP_B_FLOW :NUMERIC]
  [:AP_PULSRAT :NUMERIC]
  [:AP_H_LIM :NUMERIC]
  [:AP_L_LIM :NUMERIC]
  [:AP_PULS :NUMERIC]
  [:AP_FLOW :NUMERIC]
  [:AP_RPM :NUMERIC]
  [:SL_FLOW :NUMERIC]
  [:SL_RPM :NUMERIC]
  [:SA_FLOW :NUMERIC]
  [:SA_RPM :NUMERIC]
  [:SO_FLOW :NUMERIC]
  [:SO_RPM :NUMERIC]
  [:CP_STOP :CHARACTER]
  [:CP_FLOW :NUMERIC]
  [:CP_RPM :NUMERIC]
  [:CP_ONTIME :NUMERIC]
  [:CP_OFFTIME :NUMERIC]
  [:CP_MVOL :NUMERIC]
  [:CP_VOL :NUMERIC]
  [:CP_TOTIME :NUMERIC]
  [:PERF_NR :LONG]
  [:HYPO_T_H20 :NUMERIC]
  [:HYPO_T_COL :NUMERIC]
  [:HYPO_SET_T :NUMERIC]
  [:HYPO_PAT_T :NUMERIC]
  [:HYPO_DEL_P :NUMERIC]
  [:HYPO_DEL_N :NUMERIC]
  [:CSL_STOP :CHARACTER]
  [:CSL_FLOW :NUMERIC]
  [:CSL_RPM :NUMERIC]
  [:CSL_RATIO :NUMERIC]
  [:CSL_ONTIME :NUMERIC]
  [:CSL_OFFTIM :NUMERIC]
  [:CSL_MVOL :NUMERIC]
  [:CSL_VOL :NUMERIC]
  [:CSL_TOTIME :NUMERIC]
  [:CT_FLOW :NUMERIC]
  [:CT_MVOL :NUMERIC]
  [:CT_VOL :NUMERIC]
  [:DATE_TIME :TIMESTAMP]
  [:EXT_FLOW1 :NUMERIC]
  [:EXT_FLOW2 :NUMERIC]
  [:EXT_FLOW3 :NUMERIC]
  [:EXT_FLOW4 :NUMERIC]
  [:HYPC_T_H20 :NUMERIC]
  [:HYPC_SET_T :NUMERIC]
  [:HYPC_PAT_T :NUMERIC]
  [:HYPC_DEL_P :NUMERIC]
  [:HYPC_DEL_N :NUMERIC]
  [:PRIM_KEY :CHARACTER]
  [:AT :NUMERIC]
  [:AT_H_LIM :NUMERIC]
  [:AT_L_LIM :NUMERIC]
  [:VT :NUMERIC]
  [:VT_H_LIM :NUMERIC]
  [:VT_L_LIM :NUMERIC]
  [:CT :NUMERIC]
  [:CT_H_LIM :NUMERIC]
  [:CT_L_LIM :NUMERIC]
  [:CPLGP :NUMERIC]
  [:CPLGP_H_L :NUMERIC]
  [:CPLGP_L_L :NUMERIC]
  [:PPOSTO :NUMERIC]
  [:PPOSTO_H_L :NUMERIC]
  [:PPOSTO_L_L :NUMERIC]
  [:PPREO :NUMERIC]
  [:PPREO_H_L :NUMERIC]
  [:PPREO_L_L :NUMERIC]
  [:PDIFFO :NUMERIC]
  [:PDIFFO_H_L :NUMERIC]
  [:PDIFFO_L_L :NUMERIC]
  [:ARTFLOW :NUMERIC]
  [:FLOWFACTR :NUMERIC]
  [:CINSERT :CHARACTER]
  [:TINSERT :TIMESTAMP]],
 :PATGG
 [[:PAT_NR :CHARACTER]
  [:GRAPHGROUP :CHARACTER]
  [:MINIMUM :LONG]
  [:NSTEP :NUMERIC]
  [:UNIT :CHARACTER]
  [:PRIM_KEY :CHARACTER]],
 :TRACK
 [[:CUSER :CHARACTER]
  [:CDBF :CHARACTER]
  [:CTYPE :CHARACTER]
  [:CFLD :CHARACTER]
  [:CPATNR :CHARACTER]
  [:CKEY :CHARACTER]
  [:TTIME :TIMESTAMP]
  [:COLDVAL :MEMO]]}
